temporalio==1.8.0
requests>=2.32.0
urllib3>=2.2.0,<3
charset-normalizer>=3.3.0
python-dotenv==1.2.2
PyMuPDF>=1.24.0
google-api-python-client>=2.1.0
google-auth>=2.0.0
google-auth-httplib2>=0.2.0
pymupdf4llm==1.27.2.3
fastapi==0.115.12
uvicorn==0.34.3